:root {
  --theme-color-1: rgb(31, 31, 31);
  --theme-color-2: gray;
  --theme-color-3: white;
  --theme-color-4: black;
  --first-break-point: 900px;
}


* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--theme-color-1);
  font-family: 'Abel', sans-serif;
  display: grid;
  grid-template-columns: 225px auto;
}


h1 {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 0;
}


nav {
  z-index: 1;
  position: relative;
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav img {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 75%;
  transform: translateX(-50%);
}
nav div {
  cursor: default;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 12px;
  color: black;
}
nav ul li {
  text-align: center;
  margin: 25px 0;
}
nav ul li a {
  font-size: 1.25rem;
  color: white;
  transition: letter-spacing 0.25s ease;
}
nav ul li a:hover, nav ul li.active a {
  letter-spacing: 3px;
}
nav ul li.active a {
  text-shadow: 1px 1px 5px white;
}


main {
  position: relative;
  height: 100vh;
  overflow-y: auto;
}
main .page {
  position: relative;
  min-height: 100vh;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  color: rgb(226, 226, 226);
}
footer a {
  color: rgb(226, 226, 226);
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  transition: opacity 0.25s ease;
}
footer a:hover {
  opacity: 0.7;
}
footer a i {
  font-size: 2.5rem;
  margin-right: 12px;
}
footer span.or {
  cursor: default;
  font-size: 2.25rem;
}
footer p {
  cursor: default;
  font-size: 1.25rem;
}
footer p em {
  cursor: text;
}

@media only screen and (max-width: 900px) {
  body {
    display: block;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 680px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  footer span.or {
    margin-top: 12px;
  }
}
@media only screen and (max-width: 460px) {
  nav {
    width: 100%;
  }
  nav img {
    width: 200px;
  }
}
@media only screen and (max-height: 630px) {
  nav {
    align-items: flex-end;
  }
  nav ul {
    margin-bottom: 25vh;
  }
  nav ul li {
    margin: 12px 0;
  }
}
@media only screen and (max-height: 460px) {
  nav img {
    width: 150px;
  }
  nav ul {
    margin-bottom: 12vh;
  }
  nav ul li {
    margin: 6px 0;
  }
}